.btn{
    background-color: var(--ion-color-danger-shade);
    color: #FFFFFF;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 15px;

}

.contenedor{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}